/* color scheme */
:root {
  --pink: #F1DDDF;
  --light-green: #86B049;
  --dark-green: #476930;
  --darker-green: #2a473e;
  --brown: #c8b99b;
  --rust: #b83700;
}

/* .custom-login-dropdown .dropdown-toggle {
  font-size: 1.2rem;
} */

.footer {
  margin-top: auto
}

.navbar-text {
  font-size: 1.2rem; /* adjusting sizing */
}

.signin, .signup {
  background-color: url('../../public/leaves4.jpg');
  display: flex;
}

.recipe {
  background: fixed center url('../../public/leaves2.jpg');
  background-size: cover;
  flex: 1;
}

.flex-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.recipe-image {
  float: right;
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
  margin-left: 30px;
  margin-bottom: 20px;
}

.recipe-text {
  text-align: left;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url('../../public/leaves.jpg');
  background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#submitrecipe {
  background: fixed center url('../../public/leaves2.jpg');
  background-size: cover;
  flex: 1;
}

#middleimg {
  max-height: 750px;
}

#menucolor, #menucolor .navbar-brand,
#menucolor .nav-link {
  background-color: var(--darker-green);
  color: white;
}

#landing-page {
  min-height: 100vh;
  display: flex;
}

#middlerow {
  height: 60vh
}

#submitform, #explorepage {
  min-height: 90vh;
}

#aboutpage, #reportpage {
  min-height: 100vh;
  background: url('../../public/derrick-bg.png');
  background-size: cover;
}

#aboutrow {
  min-height: 300px;
}

#titletext {
  font-size: 70px;
}

#recipecard {
  min-height: 250px;
  background-color: white;
}

#recipetitle {
  font-size: 30px;
  background-color: var(--pink);
  border-radius: 10px;
  text-align: center;
  color:rgb(7, 5, 5);
}

#viewrecipe {
  background-color: var(--darker-green);
  color: white;
}

#recipedescription {
  min-height: 200px;
}

#subtitle {
  font-size: 50px;
}

#smalltext {
  font-size: 20px;
}
